<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BBEditDocumentType</key>
	<string>CodelessLanguageModule</string>
	<key>BBLMColorsSyntax</key>
	<true/>
	<key>BBLMIsCaseSensitive</key>
	<true/>
	<key>BBLMKeywordList</key>
	<array>
		<string>And</string>
		<string>and</string>
		<string>As</string>
		<string>as</string>		
		<string>Box</string>
		<string>box</string>
		<string>Dim</string>
		<string>dim</string>
		<string>Each</string>
		<string>each</string>
		<string>Else</string>
		<string>else</string>
		<string>ElseIf</string>
		<string>elseif</string>
		<string>End</string>
		<string>end</string>
		<string>EndFunction</string>
		<string>endfunction</string>
		<string>EndIf</string>
		<string>endif</string>
		<string>EndSub</string>
		<string>endsub</string>
		<string>EndWhile</string>
		<string>endwhile</string>
		<string>Eval</string>
		<string>eval</string>
		<string>Exit</string>
		<string>exit</string>		
		<string>ExitWhile</string>
		<string>exitwhile</string>
		<string>False</string>
		<string>false</string>
		<string>For</string>
		<string>for</string>
		<string>Function</string>
		<string>function</string>
		<string>GetGlobalAA</string>
		<string>getglobalaa</string>
		<string>GetLastRunCompileError</string>
		<string>getlastruncompileerror</string>
		<string>GetLastRunRunTimeError</string>
		<string>getlastrunruntimeerror</string>
		<string>GoTo</string>
		<string>goto</string>
		<string>If</string>
		<string>if</string>
		<string>Invalid</string>
		<string>invalid</string>
		<string>In</string>
		<string>in</string>
		<string>Let</string>
		<string>let</string>
		<string>LINE_NUM</string>
		<string>line_num</string>
		<string>Next</string>
		<string>next</string>
		<string>Not</string>
		<string>not</string>
		<string>ObjFun</string>
		<string>objfun</string>
		<string>Or</string>
		<string>or</string>
		<string>Pos</string>
		<string>pos</string>
		<string>Print</string>
		<string>print</string>
		<string>Rem</string>
		<string>rem</string>
		<string>Return</string>
		<string>return</string>
		<string>Run</string>
		<string>run</string>
		<string>Step</string>
		<string>step</string>
		<string>Stop</string>
		<string>stop</string>
		<string>Sub</string>
		<string>sub</string>
		<string>Tab</string>
		<string>tab</string>
		<string>Then</string>
		<string>then</string>
		<string>To</string>
		<string>to</string>
		<string>True</string>
		<string>true</string>
		<string>Type</string>
		<string>type</string>
		<string>While</string>
		<string>while</string>
	</array>
	<key>BBLMPredefinedNameList</key>
	<array>
		<string>CreateObject</string>
		<string>createObject</string>
		<string>Object</string>
		<string>object</string>
		<string>Integer</string>
		<string>integer</string>
		<string>Boolean</string>
		<string>boolean</string>
		<string>String</string>
		<string>string</string>
		<string>Void</string>
		<string>void</string>
	</array>
	<key>BBLMLanguageCode</key>
	<string>BRIG</string>
	<key>BBLMLanguageDisplayName</key>
	<string>BrightScript</string>
	<key>BBLMSuffixMap</key>
	<array>
		<dict>
			<key>BBLMLanguageSuffix</key>
			<string>.brs</string>
		</dict>
	</array>
	<key>BBLMCommentLineDefault</key>
	<string>&apos;</string>
	<key>Language Features</key>
	<dict>
		<key>Close Parameter Lists</key>
		<string>)</string>
		<key>Open Strings 1</key>
		<string>&quot;</string>
		<key>Close Strings 1</key>
		<string>&quot;</string>
		<key>Identifier and Keyword Characters</key>
		<string>ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789_</string>
		<key>Open Line Comments</key>
		<string>&apos;</string>
		<key>Open Parameter Lists</key>
		<string>(</string>
	</dict>
</dict>
</plist>
